%h2 Fresh offers
%br
= link_to "Get even fresher offers", :controller => "offers", :action => "get"
%br
%br
- if @offers.empty?
  .no_offers
    No offers

- if !@offers.empty?
  - @offers.each do |offer|
    .offer
      .title
        = "Offer: #{offer.title}"
      .payout
        = "Payout: #{offer.payout}"
      .thumbnail
        = image_tag offer.thumbnail["lowres"]
    %br
